.settingsPanel {
    display: flex;
    flex-direction: column;
    width: 15vw;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.userData {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 8px 20px 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 0.5vh;
}

select {
    border-bottom-width: 2px;
    padding: 1vh;
    border-radius: 10px;
    text-align: center;
    align-self: flex-end;
    width: 15vw;
    margin-bottom: 2vh;
    margin-top: 0.5vh;
}

.mySelect {
    align-self: flex-end;
    width: 20vw;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 8px 20px 8px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
}
.mySelect:hover{
    background-color: #3d4053;
}

select-items {
    background-color: red;
}

.text{
    text-align: center;
}