.settingsPanel {
    display: flex;
    flex-direction: column;
    width: 15vw;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.userData {
    background-color: white;
    color: black;
    border-color: black;
    border-bottom-width: 2px;
    padding: 1vh;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 0.5vh;
}

select {
    border-bottom-width: 2px;
    padding: 1vh;
    border-radius: 10px;
    text-align: center;
    align-self: flex-end;
    width: 15vw;
    margin-bottom: 2vh;
    margin-top: 0.5vh;
}

p {
    text-align: center;
}